h3 {
	font-family: 'Lobster Two', cursive;
}

/*#title {
	font-family: 'Unkempt', cursive;
} */

#nav-mobile {
	font-family: 'Poiret One', cursive;
	font-size: 20pt;
}

.title {
	font-family: 'Poiret One', cursive;
	font-size: 20pt;
}
#french {
	text-align: center;
}